
 .hero-card {
   color: white;
   padding: 0;
   height: 200px;
   background-repeat: no-repeat!important;
   background-position: center!important;
   background-size: 100%!important;
 }


 .hero-card:before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(to bottom, transparent 60%, #000000 100%);
 }

 .mat-card-wrapper span {
   position: absolute;
   bottom: 7%;
   left: 5%;
   font-size: 12px;
   color: white;
   font-weight: bold;
 }

 .mat-card-wrapper .hero-group {
   position: absolute;
   bottom: 7%;
   right: 5%;
   color: white;
 }
 